
<h1>hii</h1>
<div class="container d-flex flex-direction-column space-between-around">
    <div class="col">
    <h1>ho</h1>
      <div class=" d-flex">
        <div class="cards float-end p-1 m-3 flex-grow-1">
          <% @yoga_classes.each do |yoga_class| %>
            <div class="card-product shadow-sm rounded-4" data-aos="zoom-in">
                <%= link_to yoga_class do %>
                  <%= cl_image_tag yoga_class.photos[0].key, width:400,height:400, crop: :fill %>
                <% end%>
                <div class="card-product-infos float-md-start">
                  <ul class="list-group list-group-flush p-1">
                    <li class="list-group-item p-1"> <h6><strong><%= yoga_class.name %></strong></h4></li>
                    <li class="list-group-item p-1"><i class="fa-solid fa-tag"></i> <strong><%= yoga_class.price %> </strong>€ per hour</li>
                  </ul>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col m-5">
       <div style="width: 50%; height:100vh; position:fixed; top: 80px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
     </div>

    </div>
  </div>
