
<div class="container-md rounded-5 mb-2 d-flex">
    <div class="col">
      <div class=" d-flex align-items: stretch ">
        <div class="cards">
          <% @yoga_classes.each do |yoga_class| %>
            <div class="card-product  shadow-sm rounded-4" data-aos="zoom-in">
                <%= link_to yoga_class, class: "h-100" do %>
                  <% if yoga_class.photo.attached? %>
                     <%= cl_image_tag yoga_class.photo.key, class: "" %>
                  <% end %>
                <%end%>
              <div class="container">
                <div class=" border-bottom m-2"> <h4><%= yoga_class.name %></h4></div>
                    <div class="d-flex justify-content-between align-items-end m-2">
                      <p class="m-1"><i class="fa-solid fa-location-dot"></i> <%= yoga_class.yoga_studio_teacher.yoga_studio.address %> </strong></p>
                    </div>
                    <div class="d-flex justify-content-between align-items-end m-2">
                      <p class="m-1"><i class="fa-solid fa-tag"></i> <strong><%= yoga_class.price %> Euros </strong></p>
                      <p class="m-1"><i class="fa-solid fa-user-group"></i> <%= (yoga_class.capacity - yoga_class.bookings.size) %> out of <%= yoga_class.capacity %> spaces left</p>

                    </div>
                    <div class="d-flex justify-content-between m-2">
                      <p class="m-1"><i class="fa-solid fa-calendar-days"></i> <%= yoga_class.start_time.strftime("%d of %B, %Y") %></p>
                      <p class="m-1"><i class="fa-solid fa-clock"></i> <%= yoga_class.start_time.strftime("%k:%M") %> - <%= yoga_class.end_time.strftime("%k:%M") %></p>
                    </div>
                     <div class="d-flex justify-content-between m-2">
                      <p class="m-1"><i class="fa-solid fa-person"></i> <%= yoga_class.difficulty %></p>
                      <p class="m-1"><i class="fa-solid fa-star"></i> <%= yoga_class.style %></p>
                    </div>
                </div>
              </div>

          <% end %>
        </div>
      </div>
    </div>
  <div class="col m-5">
    <div class="rounded-4" style="width: 100%; height:100vh; position:sticky; top: 100px; right:40px; z-index: 1;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  </div>
</div>

<%# '[{"lat": 51.5074, "lng": -0.1278, "info_window_html": "<p>London</p>"}, {"lat": 48.8566, "lng": 2.3522, "info_window_html": "<p>Paris</p>"}]' %>
