<h1>Create a new class</h1>
  <%= simple_form_for(@class) do |c| %>
    <%= c.input :name %>
    <%= c.input :price %>
    <%= c.input :description %>
    <%= c.input :start_time %>
    <%= c.input :end_time %>
    <%= c.input :capacity %>
    <%= c.input :photos, as: :file, input_html: { multiple: true } %>
    <%= c.submit "Submit class", class: "btn btn-primary" %>
  <% end %>
