<div class="container">
  <%# Photo Carousel: %>
  <%= cl_image_tag @yoga_class.photo.key, class: "d-block w-100" %>
  <div class="overlay d-block w-100 d-flex justify-content-center align-items-center">
    <h1 class="text-white"><%= @yoga_class.name %></h1>
  </div>

  <%# Booking Card: %>
  <div class="booking-card my-card d-flex justify-content-between mt-3">
    <h2 class="booking-price"><strong><%= sprintf("%.2f", @yoga_class.price) %>€</strong></h2>
    <%= link_to "Book Now", booking_path(@yoga_class), class: "btn-flat btn-booking w-25" %>
  </div>

  <%# class info + map container %>
  <div class="show-container d-flex justify-content-between mt-3">
    <%# Info Card: %>
    <div class="info-card my-card w-50">

      <div class="short-details border-bottom pb-2">
        <div class="d-flex justify-content-between">
          <p><i class="fa-solid fa-calendar-days"></i> <%= @yoga_class.start_time.strftime("%d of %B, %Y") %></p>
          <p><i class="fa-solid fa-clock"></i> <%= @yoga_class.start_time.strftime("%k:%M") %> - <%= @yoga_class.end_time.strftime("%k:%M") %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p><i class="fa-solid fa-user-group"></i> <%= (@yoga_class.capacity - @yoga_class.bookings.size) %> out of <%= @yoga_class.capacity %> spaces left</p>
          <p><i class="fa-solid fa-person"></i> <%= @yoga_class.difficulty %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p><i class="fa-solid fa-hourglass-half"></i> <%= @yoga_class.duration_in_minutes %> minutes</p>
          <p><i class="fa-solid fa-star"></i> <%= @yoga_class.style %></p>
        </div>
      </div>
      <p class="info-text mt-3"><%= @yoga_class.description %></p>
    </div>

    <%# Map Card: %>
    <div class="my-card w-50">
      <p>Here comes the map</p>
    </div>

  </div>

  <%# teacher+studio container %>
  <div class="show-container d-flex justify-content-between">
    <%# Teacher Card: %>
    <div class="teacher-card my-card third flex-grow-1">
      <div class="teacher-card-header d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
        <div class="d-flex flex-column">
          <h2><%= @yoga_class.yoga_studio_teacher.teacher.name %></h2>
          <%= render 'shared/average_rating', reviewable_type: @yoga_class.yoga_studio_teacher.teacher %>
        </div>

        <div class="teacher-avatar">
          <%= cl_image_tag @yoga_class.yoga_studio_teacher.teacher.photos.first.key, class: "avatar-large" %>
        </div>
      </div>
      <div class="teacher-card-body">
        <p><%= truncate(@yoga_class.yoga_studio_teacher.teacher.description, :length => 80) %></p>
      </div>
      <%= link_to "View Teacher", teacher_path(@yoga_class.yoga_studio_teacher.teacher), class: "btn-flat w-100" %>
    </div>

    <%# Studio Card %>
    <div class="studio-card my-card third flex-grow-1">
      <div class="studio-card-header d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
        <div class="d-flex flex-column">
          <h2><%= @yoga_class.yoga_studio_teacher.yoga_studio.name %></h2>
          <%= render 'shared/average_rating', reviewable_type: @yoga_class.yoga_studio_teacher.yoga_studio %>
        </div>
        <div class="studio-avatar">
          <%= cl_image_tag @yoga_class.yoga_studio_teacher.yoga_studio.photos.first.key, class: "avatar-large" %>
        </div>
      </div>
      <div class="studio-card-body">
        <p><%= truncate(@yoga_class.yoga_studio_teacher.yoga_studio.description, :length => 80) %></p>
      </div>
      <%= link_to "View Studio", yoga_studio_path(@yoga_class.yoga_studio_teacher.yoga_studio), class: "btn-flat w-100" %>
    </div>
  </div>


</div>
