<%= "Just created class" %>
<h2><%= @class.name %></h2>
<p><%= @class.price %></p>
<p><%= @class.description %></p>
<p><%= @class.start_time %></p>
<p><%= @class.end_time %></p>
<p><%= @class.capacity %></p>
