<div class="container">
  <div class="my-card">
    <h1 class="border-bottom pb-3 mb-3"><i class="fa-solid fa-circle-check"></i> Your booking was successful.</h1>

    <div class="short-details border-bottom pb-2">
        <div class="d-flex justify-content-between">
          <p><i class="fa-solid fa-calendar-days"></i> <%= @booking.yoga_class.start_time.strftime("%d of %B, %Y") %></p>
          <p><i class="fa-solid fa-clock"></i> <%= @booking.yoga_class.start_time.strftime("%k:%M") %> - <%= @booking.yoga_class.end_time.strftime("%k:%M") %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p><i class="fa-solid fa-location-dot"></i> <%= @booking.yoga_class.yoga_studio_teacher.yoga_studio.address %></p>
          <p><i class="fa-solid fa-person"></i> <%= @booking.yoga_class.difficulty %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p><i class="fa-solid fa-hourglass-half"></i> <%= @booking.yoga_class.duration_in_minutes %> minutes</p>
          <p><i class="fa-solid fa-star"></i> <%= @booking.yoga_class.style %></p>
        </div>
      </div>
      <p class="info-text mt-3"><%= @booking.yoga_class.description %></p>
        <div class="show-map mb-3">
          <div style="width: 100%; height: 100%;"
            class="rounded shadowed"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      <%= link_to "Back to all classes", yoga_classes_path, class: "btn-flat d-block w-100" %>
    </div>
  </div>

</div>
