<span class="gl-star-rating gl-star-rating--ltr" data-star-rating="<%= star_rating %>" style="cursor: default; !important">
          <span class="gl-star-rating--stars s50" role="tooltip" data-rating="<%= star_rating %>" style="cursor: default; !important">
            <span data-index="0" data-value="1" class="<%= star_rating >= 1 ? 'gl-active' : '' %>" style="cursor: default; !important"></span>
            <span data-index="1" data-value="2" class="<%= star_rating >= 2 ? 'gl-active' : '' %>" style="cursor: default; !important"></span>
            <span data-index="2" data-value="3" class="<%= star_rating >= 3 ? 'gl-active' : '' %>" style="cursor: default; !important"></span>
            <span data-index="3" data-value="4" class="<%= star_rating >= 4 ? 'gl-active' : '' %>" style="cursor: default; !important"></span>
            <span data-index="4" data-value="5" class="<%= star_rating >= 5 ? 'gl-active' : '' %>" style="cursor: default; !important"></span>
          </span>
        </span>
