<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" style="background-image: url('https://images.unsplash.com/photo-1599901860904-17e6ed7083a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'); height: 100vh; width: 100vw; margin-top: -100px;">
  <div style="background-color: rgba(0,0,0,0.5); width: 100vw; height: 100vh; position: absolute; top: 0px; left:0px;">
    <!-- Log in button -->
    <div class="d-flex justify-content-between">
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "text-decoration-none btn-login-home btn-login", style: "position: absolute; right: 30px; top: 25px;" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "text-decoration-none btn-login-home btn-login", style: "position: absolute; right: 30px; top: 25px;"%>
      <% end %>
      <%= image_tag "zenspacewhite.png", class:"img-logo" %>
    </div>
    <!-- Log in button -->
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-light" style="width: 800px;">
          <!-- Slogan text animation -->
          <h1 class="mb-4">Find Your Next <span class="mov"> </span></h1>
          <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
            <script>
              var typed = new Typed(".mov",{
              strings: [,"Hatha Yoga Class", "Vinyasa Yoga Class", "Ashtanga Yoga Class", "Iyengar Yoga Class", "Hot Yoga Class", "Kundalini Yoga Class", "Restorative Yoga Class", "Yin Yoga Class"],
              typeSpeed: 80,
              backSpeed: 60,
              loop: true
            })
            </script>
          <!-- Slogan text animation -->
          <!-- Search Bar #TODO: Add loop so search redirects to results -->
          <div class="w-75 margin-auto">
            <%= render "shared/search_bar" %>
          </div>
          <!-- Search Bar -->
        </div>
      </div>
  </div>
</div>
<!-- Hero -->
<!-- Most Popular Studios + cards -->

    <h2 class="text-center m-5">Most Popular Yoga Classes</h2>

<div class="cards container text-center p-3">
  <div class="d-flex flex-direction-column justify-content-center space-between-around align-middle m-3">
    <% @random_yoga_classes.each do |yoga_class| %>
      <div class="card-product w-50 align-item-center shadow-sm rounded-4 m-2" data-aos="zoom-in">
        <%= link_to yoga_class, class: "h-100 " do %>
          <% if yoga_class.photo.attached? %>
            <%= cl_image_tag yoga_class.photo.key, class: "img-home" %>
          <% end %>
        <% end %>
        <div class="card-body m-2">
          <div class="border-bottom ">
            <h5 class="mb-3"><%= yoga_class.name %></h5>
          </div>
          <div class="d-flex justify-content-start m-2">
            <p class="text-start"><i class="fa-solid fa-location-dot"></i> <%= yoga_class.yoga_studio_teacher.yoga_studio.address.split(",").first %></p>

          </div>
          <div class="d-flex justify-content-between m-2">
            <p class=""><i class="fa-solid fa-clock"></i> <%= yoga_class.start_time.strftime("%k:%M") %> - <%= yoga_class.end_time.strftime("%k:%M") %></p>

          </div>
          <div class="d-flex justify-content-between m-2">
            <p class=""><i class="fa-solid fa-calendar-days"></i> <%= yoga_class.start_time.strftime("%d of %B, %Y") %></p>
          </div>

        </div>
      </div>
    <% end %>
</div>
</div>
<!-- Most Popular Studios section + cards -->
