<h1>Create a new teacher</h1>
<%= simple_form_for (@teacher) do |t| %>
  <%= t.input :name %>
  <%= t.input :description %>
  <%= t.input :photos, as: :file, input_html: { multiple: true } %>
  <%= t.submit "Submit teacher", class: "btn btn-primary" %>
<% end %>
