<div class="wrapper">
  <div class="form-control bg-white p-5 rounded-4 border-0 shadow-sm">
    <%= simple_form_for(@teacher) do |t| %>
      <strong><h3 class="mb-4">Create a new teacher :</h3></strong>
        <div class="wrap">
          <%= t.input :name, :label_html => {:style => 'display: block'}, :input_html => {:style => 'margin-bottom: 20px', :style => 'width: 100%'} %>
        </div>
        <div class="wrap">
          <%= t.input :description, :label_html => {:style => 'display: block'}, :input_html => {:style => 'margin-bottom: 20px', :style => 'width: 100%'} %>
        </div>

        <div class="wrap">
        <%= t.input :photos, as: :file, input_html: {multiple: true}, :input_html => {:style => 'margin-bottom: 20px', :style => 'width: 100%'} %>
        </div>
        <div class="d-flex justify-content-between">
          <%= t.submit class:"btn-flat m-3 ml-0" %>
          <%= link_to "Back to all studios",  yoga_studios_path, class:"btn-flat m-3 mr-0 text-decoration-none" %>
        </div>
    <% end %>
  </div>
</div>
